/* Import Bootstrap styles */
@import "~bootstrap/dist/css/bootstrap.css";

/* Custom CSS for Navbar */
.site-header {
  background-color: #3498db; /* Change the background color as needed */
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.brand-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff; /* Change text color as needed */
}

.brand-logo svg {
  fill: #fff; /* Change logo color as needed */
  margin-right: 0.5rem;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav__list {
  list-style: none;
  display: flex;
  gap: 2rem;
  font-size: large;
}

.nav__link {
  text-decoration: none;
  color: #fff; /* Change link color as needed */
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav__link:hover {
  color: #565757;
  text-decoration: underline; /* Change hover color as needed */
}
